main{
    padding-top: 36px;
}
.first_heading{
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 700;
}
.second_heading{
    font-size: 220px;
    line-height: 0.8;
    font-weight: 700;
    margin-bottom: 24px;
}
.responsiveImage{
    width: 100%;
    height: auto;
    max-width: 720px;

}
.fivenumber{
    font-size: 68px;
    color: #cc0000;
    font-weight: 700;
}
.benefits{
  padding: 32px;
  text-align: center;
  font-size: 32px;
}
/** style for mobile screen **/
@media screen and (max-width:520px) {
    .first_heading{
        font-size: 32px;
        
    }
    .second_heading{
        font-size: 96px;
        
    }
    .fiveNumber{
        font-size: 34px;
    }
    .benefits{
        font-size: 16px;
      }
}
